/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.03.2018, 16:53:15
    Author     : matti
*/
.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
    -fx-opacity: 1;
}
.default-color4.chart-series-line { -fx-stroke-width: 5px; }
